html {
  scroll-behavior: smooth;
  background: #f8f9fa;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  z-index: -2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rye", cursive;
  color: #f8f9fa;
}

h1 {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
  #contact h1 {
    padding: 0 1em;
  }
}

a,
a:hover {
  text-decoration: none;
}

.btn {
  letter-spacing: 0.1em;
  border-radius: 0;
}

#threeItems {
  margin: 0;
  padding: 0;
}

#threeItems .row {
  margin-right: 0;
  margin-left: 0;
}

#threeItems .banner-section {
  padding-right: 0;
  padding-left: 0;
}

.red-back {
  background-image: linear-gradient(
      rgba(181, 66, 16, 0.6),
      rgba(181, 66, 16, 0.6)
    ),
    url(../Images/burlap.png);
  background-position: center;
}

.blue-back {
  background-image: linear-gradient(
      rgba(98, 140, 13, 0.6),
      rgba(98, 140, 13, 0.6)
    ),
    url(../Images/burlap.png);
  background-position: center;
}

.green-back {
  background-image: linear-gradient(
      rgba(173, 138, 20, 0.6),
      rgba(173, 138, 20, 0.6)
    ),
    url(../Images/burlap.png);
  background-position: center;
}

main section .info h1 {
  color: #00733e;
  font-family: "Lora", serif;
  font-size: 2em;
}

main section .info .conv-and-qual {
  font-size: 1.8em;
}

p {
  font-size: 18px;
}

.logo-color {
  color: #8a1;
  font-weight: 800;
  font-family: "Rye", cursive;
}

@media screen and (max-width: 486px) {
  .logo-color {
    font-size: 1.2em;
  }
}

.logo-color:hover {
  color: #451;
  font-weight: 800;
  font-family: "Rye", cursive;
  text-decoration: none;
}

.simosLogo {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .simosLogo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .simosLogo2 {
    display: none;
  }
}

.cta-color {
  background: #c76a2e;
  color: #fff;
}

.cta-color:hover {
  background: #9d4d1a;
  color: #fff;
}

.cta-outline {
  background: #c76a2e;
  color: #fff;
  border: 2px solid #c76a2e;
}

.cta-outline:hover {
  background: #9d4d1a;
  color: #fff;
  border: 2px solid #9d4d1a;
}

.logo-header {
  display: block;
  text-align: center;
  /* background: #f8f9fa; */
  padding: 15px;
}

.bg-transparent {
  background-color: rgba(235, 229, 206, 0.6);
}

.navbar {
  transition: all 800ms ease-in-out;
  padding: 0 1rem;
}

.navbar-banner {
  /* background-color: #f1eee6 !important;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border: 2px #d2c69e dashed; */
  background-color: #c76a2e !important;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  border: 2px #d2c69e dashed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
  margin: 0.5em 0;
}

.sticky-offset {
  margin-top: 74px;
}

.navbar-nav li a {
  transition: all 800ms ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
}

a.contact-link {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00733e;
}

.penant-banner-outside {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 0.3em;
  padding-top: 0;
  background-color: #9a5113;
}

.penant-banner-outside::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 0;
  width: 0;
  top: 42px;
  border: #9a5113 51.5px solid;
  right: 0;
  border-bottom: transparent 20px solid;
}

.penant-banner-middle {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 0.06em;
  padding-top: 0;
  background-color: #da9238;
}

.penant-banner-middle::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 0;
  width: 0;
  top: 40px;
  border: #da9238 46.6px solid;
  right: 0;
  border-bottom: transparent 20px solid;
}

.penant-banner-inside {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fff;
  padding: 0 0.5em;
  padding-top: 0;
  background-color: #c76a2e;
}

.penant-banner-inside::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 0;
  width: 0;
  top: 40px;
  border: #c76a2e 45.5px solid;
  right: 0;
  border-bottom: transparent 20px solid;
}

#nav-contact-button {
  display: block;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/agriculture-basket-beets-533360.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  text-transform: none;
  text-align: right;
  color: white;
  text-shadow: 3px 3px 5px #3a3a3a;
}

@media screen and (max-width: 768px) {
  .hero-inner {
    text-align: center;
  }
}

.hero-inner button {
  margin-top: 2em;
  width: 12em;
  height: 2.3em;
}

.header-food {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  width: 100%;
  height: 30%;
  margin: 0.5em 0;
  border: 4px solid #fff;
  background-color: rgb(68, 109, 61);
}

.header-food img {
  width: 15%;
  border: 4px solid #fff;
  padding: 0.4em;
}

/* Ribbon Buttons */

.dark-green-ribbon {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  height: 52px;
  display: inline-block;
  position: relative;
  background: #0b4f2d;
  z-index: 1;
  margin: 0 auto;
}

.dark-green-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #0b4f2d 26px solid;
  right: -21px;
  border-right: transparent 11.76px solid;
}

.dark-green-ribbon::after {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #0b4f2d 26px solid;
  left: -21px;
  border-left: transparent 11.76px solid;
}

.gold-green-ribbon {
  padding-top: 1px;
  padding-left: 0;
  padding-right: 0;
  height: 42px;
  display: inline-block;
  position: relative;
  background: #609236;
  z-index: 2;
}

.gold-green-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #609236 21px solid;
  right: -16px;
  border-right: transparent 8.96px solid;
}

.gold-green-ribbon::after {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #609236 21px solid;
  left: -16px;
  border-left: transparent 8.96px solid;
}

.light-green-ribbon {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background: #00733e;
  z-index: 3;
  text-align: center;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #fbeb47;
}

.light-green-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #00733e 20px solid;
  right: -15px;
  border-right: transparent 8.4px solid;
}

.light-green-ribbon::after {
  left: -16px;
  border-left: transparent 11.76px solid;
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #00733e 20px solid;
  left: -15px;
  border-left: transparent 8.4px solid;
}

/* Orange Ribbon Buttons */

.dark-orange-ribbon {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  height: 52px;
  display: inline-block;
  position: relative;
  background: #9a5113;
  z-index: 1;
  margin: 0 auto;
}

.dark-orange-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #9a5113 26px solid;
  right: -21px;
  border-right: transparent 11.76px solid;
}

.dark-orange-ribbon::after {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #9a5113 26px solid;
  left: -21px;
  border-left: transparent 11.76px solid;
}

.gold-orange-ribbon {
  padding-top: 1px;
  padding-left: 0;
  padding-right: 0;
  height: 42px;
  display: inline-block;
  position: relative;
  background: #da9238;
  z-index: 2;
}

.gold-orange-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #da9238 21px solid;
  right: -16px;
  border-right: transparent 8.96px solid;
}

.gold-orange-ribbon::after {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #da9238 21px solid;
  left: -16px;
  border-left: transparent 8.96px solid;
}

.light-orange-ribbon {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background: #c76a2e;
  z-index: 3;
  text-align: center;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.light-orange-ribbon::before {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #c76a2e 20px solid;
  right: -15px;
  border-right: transparent 8.4px solid;
}

.light-orange-ribbon::after {
  left: -16px;
  border-left: transparent 11.76px solid;
  z-index: -1;
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  border: #c76a2e 20px solid;
  left: -15px;
  border-left: transparent 8.4px solid;
}

.hero-text-main {
  font-weight: 400;
  font-size: 1.8em;
  font-family: "Lora", cursive;
}
.hero-text-sub {
  font-weight: 400;
  font-size: 2.5em;
  font-family: "Italianno", cursive;
}

@media screen and (max-width: 486px) {
  .hero-text-main h2 {
    font-weight: 900;
    font-size: 1.6em;
  }
  .hero-inner h2 {
    font-size: 1.2em;
  }
}

.animationObject {
  visibility: hidden;
}

main section {
  padding: 5em 0 4em 0;
}

.column-item {
  position: relative;
  z-index: 1;
  padding: 2em 1em;
}

.column-item p {
  color: #fff;
  margin-top: 1em;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

#threeItems img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.banner {
  position: absolute;
  left: 69%;
  display: block;
  margin: 180px -200px;
  width: 250px;
  height: 50px;
  border: 1px solid #008c8c;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  /* font-family: "Rye", cursive; */
  font-family: "Lora", serif;
  font: normal 25px/50px "Lora";
  text-align: center;
  /* color: #52331f; */
  color: #fff;
  background-color: #008c8c;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -30px;
  top: 24px;
  display: block;
  width: 49px;
  height: 0px;
  border: 25px solid #008c8c;
  border-right: 20px solid #006363;
  border-bottom-color: #008c8c;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -30px;
  border-left: 20px solid #006363;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .info-section > p {
    margin: 2em 0;
  }
  .info-section {
    margin: 2em 0.5em;
  }
}

.center-block {
  display: block;
  margin: auto;
  margin-top: 2em;
}

@media screen and (max-width: 768px) {
  .center-block {
    display: block;
    margin: auto;
    margin-top: 0em;
  }
}

.info-image {
  background-image: url(../Images/burlap.png);
  margin: 2em 0;
  height: auto;
  width: 100%;
}

/* #about img {
  width: 35%;
  height: 35%;
  margin: 0 1em;
} */

#about p {
  text-align: justify;
  /* margin: 0 1em; */
}

.hours {
  font-size: 20px;
}

.days {
  text-align: right;
  padding-right: 0.85em;
  font-weight: 900;
  text-transform: uppercase;
}

.phone {
  font-size: 1.4em;
}

.phone > a {
  text-decoration: none;
  color: inherit;
}

main section h1,
p {
  padding: 0 0 0.5em 0;
  text-align: center;
}

main section .info h1::after {
  content: "";
  display: inline-block;
  background-color: #d3d3d3;
  height: 1px;
  width: 10%;
  margin-bottom: 0.3em;
  margin-left: 0.4em;
}

main section .info h1::before {
  content: "";
  display: inline-block;
  background-color: #d3d3d3;
  height: 1px;
  width: 10%;
  margin-bottom: 0.3em;
  margin-right: 0.4em;
}

@media screen and (max-width: 768px) {
  main section .info h1::after {
    content: "";
    display: none;
    background-color: #d3d3d3;
    height: 5px;
    width: 10%;
    margin-bottom: 0.3em;
    margin-left: 0.4em;
  }

  main section .info h1::before {
    content: "";
    display: none;
    background-color: #d3d3d3;
    height: 1px;
    width: 10%;
    margin-bottom: 0.3em;
    margin-right: 0.4em;
  }
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-section {
  display: inline-block;
  text-align: center;
  padding: 0 0.2em 0 0.2em;
}

.fa {
  font-size: 4em;
  color: #1f8032;
}

.icon-title {
  font-weight: 800;
  font-size: 1em;
}

.icon-body {
  text-align: center;
  color: gray;
}

.image-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-size: cover;
}

footer {
  background: #565e67;
  color: #fff;
}
